.ttt{
    font-size: 22px;
}
.tt{
    font-size: 23px;
}

.tf{
    font-size: 24px;
}

.tff{
    font-size: 25px;
}

.ts{
    font-size: 26px;
}

.tss{
    font-size: 27px;
}

.te{
    font-size: 28px;
}

.tn{
    font-size: 29px;
}

.tth{
    font-size: 30px;
}