.CodeMirror.ttt .CodeMirror-scroll {
    font-size: 22px;
}

.CodeMirror.tt .CodeMirror-scroll {
    font-size: 23px;
}

.CodeMirror.tf .CodeMirror-scroll {
    font-size: 24px;
}

.CodeMirror.tff .CodeMirror-scroll {
    font-size: 25px;
}

.CodeMirror.ts .CodeMirror-scroll {
    font-size: 26px;
}

.CodeMirror.tss .CodeMirror-scroll {
    font-size: 27px;
}

.CodeMirror.te .CodeMirror-scroll {
    font-size: 28px;
}

.CodeMirror.tn .CodeMirror-scroll {
    font-size: 29px;
}

.CodeMirror.tth .CodeMirror-scroll {
    font-size: 30px;
}